.alert {
    @apply shadow-modal p-6 rounded-lg w-[440px];
}

.alert--header {
    @apply flex flex-row items-center gap-2;
}

.alert--header--title {
    @apply flex-1;
}

.alert--header--close-btn {
}

.alert--body {
    @apply mt-1 ml-8;
}