.text-avatar-content {
  @apply flex justify-center;
  margin: auto 0;
}
.img-avatar {
  @apply rounded-full max-w-none;
}
.avatar-name {
  @apply font-semibold text-text-700;
}
.avatar-subName {
  @apply font-normal text-text-500;
}
.avatar {
  @apply flex gap-2 p-0.5 text-start;
}
.avatar-detail {
  @apply flex flex-col;
}
.text-avatar {
  @apply rounded-full bg-surface-darkGrey text-white flex justify-center;
}

.avatar.avatar-group-item-collapse:nth-child(1) {
  z-index: 1;
  left: 0px;
}
.avatar.avatar-group-item-collapse:nth-child(2) {
  z-index: 2;
  left: 30px;
}
.avatar.avatar-group-item-collapse:nth-child(3) {
  z-index: 3;
  left: 60px;
}
.avatar.avatar-group-item-collapse img {
  top: 2px;
  border: 1px solid white;
}
.avatar.avatar-group-item-collapse:nth-child(1) .text-avatar.avatar-group-item-collapse {
  border: none;
}
.avatar.avatar-group-item-collapse:nth-child(2) .text-avatar {
  border: 1px solid white;
}
.avatar.avatar-group-item-collapse:nth-child(3) .text-avatar {
  border: 1px solid white;
  @apply bg-surface-primary;
}

.avatar.avatar-group-item-collapse-below-3:nth-child(1) {
  z-index: 1;
  left: 0px;
}
.avatar.avatar-group-item-collapse-below-3:nth-child(2) {
  z-index: 2;
  left: 30px;
}
.avatar.avatar-group-item-collapse-below-3:nth-child(3) {
  z-index: 3;
  left: 60px;
}
.avatar.avatar-group-item-collapse-below-3 .img-avatar {
  top: 2px;
  border: 1px solid white;
}
.avatar.avatar-group-item-collapse-below-3:nth-child(1) .text-avatar {
  border: 1px solid white;
}
.avatar.avatar-group-item-collapse-below-3:nth-child(2) .text-avatar {
  border: 1px solid white;
}
.avatar.avatar-group-item-collapse-below-3:nth-child(3) .text-avatar {
  border: 1px solid white;
}
.avatar-group {
  @apply flex flex-row relative flex-wrap w-auto;
}
