.badge {
  @apply flex flex-row items-center p-1;
}

.badge-content {
  /* @apply h-6 w-auto pt-[2px] pr-2 pb-6 pl-2 text-center; */
  @apply h-6 w-auto px-[6px] py-[2px] flex items-center;
}

.badge-withText {
  @apply bg-primary rounded-full text-center text-white font-semibold;
}
.badge-withDot {
  @apply text-text-600 ml-[-10px] font-medium;
}
.badge-icon {
  @apply mt-3 text-primary;
}
