/* Style the list */
.breadcrumb {
  @apply gap-[14px] p-1 flex flex-row;
}

/* Display list items side by side */
.breadcrumb > li {
  @apply items-center flex flex-row gap-[14px] text-lg text-text-400 hover:text-palette-primary1000;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > li + li:before {
  @apply p-8 text-text-400;
}

/* Add a color to all links inside the list */
.breadcrumb > li {
  @apply text-text-400 cursor-pointer;
}

.breadcrumb > li.breadcrumb-item.active {
  @apply pointer-events-none;
  @apply text-text-700;
}
.breadcrumb-item-name {
  @apply capitalize text-xs;
}
