.btn {
  @apply font-semibold text-subtitle1 inline-flex whitespace-nowrap items-center justify-center;
  @apply transition ease-in;
}

.btn-disabled .icon {
  @apply text-icon-default !important;
}

/* ============== VARIANT ================ */
.btn-primary {
  @apply bg-button-primary text-white hover:bg-button-primaryHover active:bg-button-primaryPress disabled:bg-button-disable disabled:text-text-disable;
}

.btn-primary .icon {
  @apply text-white;
}

.btn-positive {
  @apply bg-button-success text-white hover:bg-button-successHover active:bg-button-successPress;
}

.btn-negative {
  @apply bg-button-error text-white hover:bg-button-errorHover active:bg-button-errorPress;
}

.btn-secondary {
  @apply bg-surface-white border border-button-primary text-button-primary hover:border-button-primaryHover hover:text-button-primaryHover active:border-button-primaryPress active:text-button-primaryPress disabled:border-text-disable disabled:text-text-disable;
}

.btn-blank {
  @apply bg-transparent text-button-primary hover:bg-surface-primary10 hover:text-button-primaryHover active:bg-surface-primary10 active:text-button-primaryPress disabled:text-text-disable;
}

.btn-link {
  @apply bg-transparent text-button-primary underline hover:text-button-primaryHover active:text-button-primaryPress disabled:text-text-disable;
}

.btn-icon-button {
  @apply p-3 rounded-lg;
}

.btn-icon-button-adornment {
  @apply bg-transparent text-icon-default;
}

.dashed-border .icon {
  @apply !text-current;
}
/* ============== SIZE ================ */
.btn-sm {
  @apply py-[5px] px-3 rounded;
}

.btn-md {
  @apply py-[9px] px-4 rounded-lg;
}

.btn-lg {
  @apply py-[13px] px-5 rounded-lg;
}

/* ============== Layout ================ */
.btn-w-min {
  @apply min-w-[40px];
}

.btn-w-full {
  @apply w-full;
}

.btn + .btn {
  @apply ml-3.5;
}

.btn-sm + .btn-sm {
  @apply ml-2;
}

.btn-icon {
  @apply w-fit h-fit;
}

.btn-icon-lg {
  @apply w-6 h-6;
}

.btn-icon-md {
  @apply w-6 h-6;
}

.btn-icon-sm {
  @apply w-5 h-5;
}

.btn-left-icon-lg-spacing {
  @apply mr-2;
}

.btn--right-icon-lg-spacing {
  @apply ml-2;
}

.btn-left-icon-md-spacing {
  @apply mr-2;
}

.btn--right-icon-md-spacing {
  @apply ml-2;
}

.btn-left-icon-sm-spacing {
  @apply mr-1;
}

.btn--right-icon-sm-spacing {
  @apply ml-1;
}

.btn-color-error {
  @apply text-icon-error border-icon-error hover:text-icon-error hover:border-icon-error hover:opacity-75;
}

.btn-color-success {
  @apply text-icon-success border-icon-success hover:text-icon-success hover:border-icon-success hover:opacity-75;
}

.btn-color-warning {
  @apply text-icon-warning border-icon-warning hover:text-icon-warning hover:border-icon-warning hover:opacity-75;
}

.btn-color-primary {
  @apply text-primary border-primary hover:text-primary hover:border-primary hover:opacity-75;
}
