.checkbox {
    @apply inline-flex items-center cursor-pointer space-x-2;
}

.checkbox-icon>input {
    @apply sr-only;
}

.checkbox-icon {
    @apply text-icon-default transition;
}


.checkbox-hovered>.checkbox-icon {
    @apply text-icon-hover;
}

.checkbox-checked>.checkbox-icon {
    @apply text-primary;
}

.checkbox-read-only>.checkbox-icon > .icon > svg{
    @apply fill-surface-disable;
}

.checkbox-indeterminate>.checkbox-icon {
    @apply text-primary;
}


.checkbox-indeterminate.checkbox-read-only>.checkbox-icon{
    @apply text-palette-primary300;
}

.checkbox-checked.checkbox-read-only>.checkbox-icon{
    @apply text-palette-primary300;
}


.checkbox-disabled>.checkbox-icon {
    @apply text-icon-disable;
}

.checkbox-disabled,
.checkbox-read-only>.checkbox-label {
    @apply text-text-disable;
}

.checkbox-hovered>.checkbox-label {
    @apply text-text-700;
}