.chips {
  @apply inline-flex items-center space-x-1;
  @apply transition;
  @apply subtitle1;
}

.chips-default {
  @apply bg-transparent text-text-400 border border-lineBorder-borderDefault hover:border-lineBorder-borderHover hover:bg-surface-disable hover:text-text-600;
}

.chips-default .icon {
  @apply text-text-400;
}

.chips-selected {
  @apply bg-surface-primary text-text-100;
}

.chips-selected-outlined {
  @apply border border-primary text-primary;
}

.chips-selected .icon {
  @apply text-text-100;
}

.chips-selected-outlined .icon {
  @apply text-text-400;
}

.chips-disabled {
  @apply bg-surface-grey text-text-disable border border-lineBorder-borderDefault;
}

.chips-disabled .icon {
  @apply text-text-disable;
}

.chips-lg {
  @apply h-10 rounded-lg px-4;
}

.chips-lg .icon {
  @apply w-5 h-5;
}

.chips-md {
  @apply h-8 rounded-md px-3;
}

.chips-md .icon {
  @apply w-4 h-4;
}

.chips-sm {
  @apply h-6 rounded-md px-2;
}

.chips-sm .icon {
  @apply w-3.5 h-3.5;
}

.chips + .chips {
  @apply ml-2;
}
