.count-input {
    @apply inline-flex;
    @apply rounded border border-lineBorder-borderDefault;
    @apply min-w-[100px];
}

.count-input__input {
    -moz-appearance: textfield;

    @apply transition;
    @apply text-text-700 text-center;
    @apply focus:border-lineBorder-primary;
    @apply placeholder:text-text-300;
    @apply flex-1 min-w-[20px];
}

.count-input__input::-webkit-outer-spin-button,
.count-input__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.count-input__input:disabled {
    background-color: #f8f8fa !important;
}

.count-input__minus, .count-input__plus {
    @apply p-2 w-8 h-8;
}

.count-input__minus {
    @apply border-r border-lineBorder-borderDefault;
}

.count-input__plus {
    @apply border-l border-lineBorder-borderDefault;
}

