.data-grid {
}

.data-grid__table {
  @apply w-full mt-6 overflow-x-auto;
}

.data-grid__table--head {
  @apply sticky top-0 z-table-thead;
}

.data-grid__header {
  @apply bg-surface-disable text-text-700 caption1 px-4 py-3 border-b border-lineBorder-dividerLine;
}

.data-grid__header--content {
  @apply flex items-center gap-2 max-h-[16px];
}

.data-grid__row {
  @apply transition;
  @apply bg-surface-white hover:bg-surface-primary4 border-b border-lineBorder-dividerLine;
}

.data-grid__cell {
  @apply px-4 py-2.5;
}

.data-grid__cell--left {
  @apply text-left;
}

.data-grid__cell--right {
  @apply text-right;
}

.data-grid__cell--right > .data-grid__header--content {
  @apply justify-end;
}

.data-grid__cell--center {
  @apply text-center;
}

.data-grid__cell--center > .data-grid__header--content {
  @apply justify-center;
}

.data-grid__pagination {
  @apply flex justify-end items-center mt-6;
}

.data-grid__pagination-cell {
  @apply transition;
  @apply flex items-center justify-center w-8 h-8 border border-lineBorder-borderDefault;
  @apply text-tertiary hover:text-text-600;
  @apply hover:border-lineBorder-borderHover hover:bg-surface-disable;
  @apply rounded-md ml-2 cursor-pointer;
}

.data-grid__pagination-cell--active {
  @apply text-primary border-lineBorder-primary;
}

.data-grid__pagination-page-size-selector {
  @apply transition;
  @apply inline-flex items-center h-8 rounded-md pl-4 pr-2;
  @apply text-text-400;
  @apply border border-lineBorder-borderDefault;
  @apply hover:text-text-600 hover:bg-surface-grey hover:border-lineBorder-borderHover;
}

.data-grid__pagination-page-size-selector > .icon {
  @apply ml-1 transition;
}

.data-grid__pagination-page-size-selector--focus {
  @apply text-primary border-lineBorder-primary hover:border-lineBorder-primary hover:text-primary;
}

.data-grid__pagination-page-size-selector--focus > .icon {
  @apply rotate-180;
}

.data-grid__pagination-page-size-selection-item {
  @apply px-5 py-4 rounded-md cursor-pointer text-text-600 hover:bg-surface-disable;
  @apply list-none;
}

.data-grid__column-displayed-container {
  @apply min-w-[280px] max-h-96 overflow-y-auto;
}

.data-grid__column-displayed-item {
  @apply flex items-center px-3 py-3 rounded-md hover:bg-surface-grey;
}

.data-grid__column-displayed-item > .icon {
  @apply text-icon-default cursor-move;
}

.test {
  content: '';
  left: -1px;
  z-index: -1;
  @apply absolute block rounded-bl-md;
  @apply border-l border-b border-l-lineBorder-borderDefault border-b-lineBorder-borderDefault -top-2 h-[30px] w-5;
}
