.date-picker {
    @apply px-4 py-3 border border-lineBorder-borderDefault rounded-lg;
    @apply hover:border-lineBorder-borderHover;
    @apply focus-within:border focus-within:border-lineBorder-primary focus-within:hover:border-lineBorder-primary;
    @apply transition;
}

.date-picker--error {
    @apply border-lineBorder-error;
    @apply focus-within:border-2 focus-within:border-lineBorder-error;
    @apply hover:border-lineBorder-error;
}

.date-picker--warning {
    @apply border-lineBorder-warning;
    @apply focus-within:border-2 focus-within:border-lineBorder-warning;
    @apply hover:border-lineBorder-warning;
}

.date-picker--success {
    @apply border-lineBorder-success;
    @apply focus-within:border-2 focus-within:border-lineBorder-success;
    @apply hover:border-lineBorder-success;
}

.date-picker--disabled {
    @apply border-lineBorder-borderDefault bg-surface-disable;
    @apply focus-within:border-lineBorder-borderDefault;
    @apply hover:border-lineBorder-borderDefault;
}

.date-picker--readonly {
    @apply border-lineBorder-borderDefault bg-surface-disable;
    @apply focus-within:hover:border-lineBorder-primary;
}

.date-picker__input {
    @apply w-full border-none bg-transparent focus:ring-0 outline-none focus:outline-none;
}

.date-picker__input--center > input {
    @apply text-center;
}

.date-picker--disabled .date-picker__input:disabled {
    @apply text-text-300;
}

.date-picker--readonly .date-picker__input:read-only {
    @apply text-text-700;
}
 
/* ================ PANEL DATE =================*/
.date-picker-panel {
    @apply p-2 w-fit;
}

.date-picker-panel-header {
    @apply flex flex-row justify-between items-center;
}

.date-picker--date-table {
    @apply mt-4;
}

.date-picker--date-table td {
    @apply p-1;
}


/* ================ CELL =================*/
.date-picker-cell {
    @apply whitespace-nowrap text-text-700 body rounded-md  transition;
}

.date-picker-cell--day, .date-picker-cell--start, .date-picker-cell--center, .date-picker-cell--end{
    @apply  w-8 h-8;
}

.date-picker-cell--day.date-picker-cell--actived {
    @apply border border-lineBorder-primary;
}

.date-picker-cell--day.date-picker-cell--hovered, .date-picker-cell--day:hover {
    @apply bg-surface-primary4;
} 

.date-picker-cell--disabled {
    @apply text-text-disable cursor-not-allowed pointer-events-none;
}

.date-picker-cell--day.date-picker-cell--selected {
    @apply bg-surface-primary text-text-100;
}

.date-picker-cell--start.date-picker-cell--actived {
    @apply border border-lineBorder-primary;
}

.date-picker-cell--start.date-picker-cell--hovered, .date-picker-cell--start:hover {
    @apply bg-surface-primary4 border border-r-0 border-lineBorder-primary rounded-none;
} 

.date-picker-cell--start.date-picker-cell--selected {
    @apply bg-surface-primary text-text-100 rounded-none rounded-l-md relative z-0;
    @apply before:absolute before:top-0 before:-right-1 before:w-1 before:bottom-0 before:-z-10 before:bg-surface-primary before:hover:w-0;
}

.date-picker-cell--start.date-picker-cell--selected:not(.date-picker-cell--hovered)::before {
    content: "";
    @apply absolute top-0 -right-1 w-1 bottom-0 -z-10 bg-surface-primary;
}


.date-picker-cell--start.date-picker-cell--selected.date-picker-cell--hovered {
    @apply text-text-700 bg-surface-primary4 border border-r-0 border-lineBorder-primary rounded-none;
}

.date-picker-cell--end.date-picker-cell--actived {
    @apply border border-lineBorder-primary;
}

.date-picker-cell--end.date-picker-cell--hovered, .date-picker-cell--end:hover {
    @apply bg-surface-primary4 border border-l-0 border-lineBorder-primary rounded-none;
} 

.date-picker-cell--end.date-picker-cell--selected:not(.date-picker-cell--hovered) {
    @apply bg-surface-primary text-text-100 rounded-none rounded-r-md relative z-0;
}

.date-picker-cell--end.date-picker-cell--selected::before {
    content: "";
    @apply absolute top-0 -left-1 w-1 bottom-0 -z-10 bg-surface-primary; 
}

.date-picker-cell--end.date-picker-cell--selected.date-picker-cell--hovered {
    @apply text-text-700 bg-surface-primary4 border border-l-0 border-lineBorder-primary rounded-none;
}


.date-picker-cell--center {

}

.date-picker-cell--center.date-picker-cell--selected {
     @apply relative z-0 bg-surface-primary10 text-text-700 rounded-none;
}

.date-picker-cell--center.date-picker-cell--hovered {
    @apply relative z-0 bg-surface-primary4 border-t border-b border-lineBorder-primary rounded-none;
} 

.date-picker-cell--center.date-picker-cell--hovered::before {
    content: "";
    @apply bg-surface-primary4 border-t border-b border-lineBorder-primary rounded-none;
    @apply absolute -top-[1px] -right-2 -bottom-[1px] -left-2 -z-10 bg-surface-primary4;
} 


.date-picker-cell--center.date-picker-cell--selected:not(.date-picker-cell--hovered)::before {
    content: "";
    @apply bg-surface-primary10 absolute -top-[1px] -right-2 -bottom-[1px] -left-2 -z-10;
}

.date-picker-cell--dim {
    @apply text-text-disable bg-transparent border-none;
}

.date-picker-cell--dim:hover {
    @apply text-text-disable bg-transparent border-none;
}


/* ============== TABLE CELL MONTH ============== */
.date-picker-cell--month {
    @apply  w-full h-full;
}


.date-picker--month-table {
    border-spacing: 1px 0;
    @apply border-separate;
}

.date-picker--month-table td {
    @apply w-[5.75rem] h-14;
    @apply px-1 py-2;
}


.date-picker-cell--month.date-picker-cell--actived {
    @apply border border-lineBorder-primary;
}

.date-picker-cell--month.date-picker-cell--dim {
    @apply text-text-disable;
}

.date-picker-cell--month.date-picker-cell--hovered, .date-picker-cell--month:hover {
    @apply bg-surface-primary4;
} 

.date-picker-cell--month.date-picker-cell--disabled {
    @apply text-text-disable cursor-not-allowed;
}

.date-picker-cell--month.date-picker-cell--selected {
    @apply bg-surface-primary text-text-100;
}

/* ============== TIME PICKER ============== */
.date-picker__panel-time {

}

.date-picker__panel-time-content {
    @apply h-[21rem] flex;
}

.date-picker__panel-time-content ul {
@apply w-[4.5rem] overflow-y-hidden hover:overflow-y-auto;
}

.date-picker__panel-time-content ul > li {
    @apply w-16 h-10 p-1;
    }

.date-picker__panel-time-content .time-column--border-right {
    @apply border-r border-r-lineBorder-dividerLine;
}

.date-picker__panel-time-content .time-unit {
    @apply transition w-full h-full flex items-center justify-center text-center cursor-pointer rounded-md hover:bg-surface-primary4;
}

.date-picker__panel-time-content .time-unit--selected {
    @apply transition rounded-md bg-surface-primary hover:bg-surface-primary text-text-100;
}