.field-input {
  @apply w-full flex flex-row items-center space-x-2;
  @apply rounded-lg;
  @apply transition ease-out;
}

.field-input-outline-none {
  @apply border-none;
}

.field-input-state-default {
  @apply border border-solid border-lineBorder-borderDefault;
}

.field-input-state--hover {
  @apply border border-solid border-lineBorder-borderHover;
}

.field-input-state--focused {
  @apply border border-solid border-lineBorder-primary;
}

.field-input-state-error {
  @apply border border-solid border-lineBorder-error;
}

.field-input-state-error--focused {
  @apply border-2 border-solid border-lineBorder-error;
}

.field-input-state-active {
}

.field-input-state-read-only {
  @apply border border-solid border-lineBorder-borderDefault;
  @apply bg-surface-disable;
}

.field-input-state-read-only--focused {
  @apply border border-solid border-lineBorder-primary;
  @apply bg-surface-disable;
}

.field-input-state-disabled {
  @apply border border-solid border-lineBorder-borderDefault;
  @apply bg-surface-disable;
}

.field-input-state-success {
  @apply border border-solid border-lineBorder-success;
}

.field-input-state-success--focused {
  @apply border-2 border-solid border-lineBorder-success;
}

.field-input-state-warning {
  @apply border border-solid border-lineBorder-warning;
}

.field-input-state-warning--focused {
  @apply border-2 border-solid border-lineBorder-warning;
}
/*================ SIZE =================*/
.field-input-size-md {
  @apply px-4 py-3 h-12;
}
