.helper-text {
  @apply whitespace-pre-line break-words;
}

.helper-text-state-default {
  @apply text-text-400;
}

.helper-text-state-success {
  @apply text-text-success;
}

.helper-text-state-error {
  @apply text-text-error;
}

.helper-text-state-warning {
  @apply text-text-warning;
}
