.icon {
}

.icon-color-default {
  @apply text-icon-default;
}

.icon-color-success {
  @apply text-icon-success;
}

.icon-color-warning {
  @apply text-icon-warning;
}

.icon-color-error {
  @apply text-icon-error;
}

.icon-color-information {
  @apply text-icon-information;
}
