.input-range {
    @apply flex flex-row w-full;
}

.input-range__from-input, .input-range__to-input {
    @apply flex-1;
}

.input-range__from-input > input, .input-range__to-input > input {
    -moz-appearance: textfield;
    @apply text-center;
}

.input-range__from-input > input::-webkit-outer-spin-button,
.input-range__from-input > input::-webkit-inner-spin-button,
.input-range__to-input > input::-webkit-outer-spin-button,
.input-range__to-input > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-range > .input-base-container > button {
    @apply hidden;
}

.input-range  > .input-base-container > input:focus + button {
    @apply block;
}