.adornment-container {
    @apply ml-1 w-[24px] h-[24px];
}

.input-base-container {
    @apply w-full flex flex-row items-center;
}

.input-base {
    @apply w-full border-none focus:ring-0 outline-none focus:outline-none;
    @apply text-text-700 text-body;
    @apply bg-transparent;
}