.list-img-remaining {
    @apply relative flex justify-center place-items-center cursor-pointer;
}

.list-img-remaining-disabled {
    @apply relative flex justify-center place-items-center;
}

.list-img-remaining-count {
    @apply absolute text-white font-bold text-3xl z-[1];
}

.list-img-item {
    @apply flex place-items-center;
}
