.menu {
  @apply flex flex-col mt-2 font-bold uppercase;
}

.menu.active {
  @apply text-palette-primary800;
}

.menu-header {
  @apply flex flex-row;
}

.menu-list-item {
  @apply flex flex-col items-start;
}

.menu-item {
  @apply text-xs pt-[16px] pb-[16px] pl-[32px] pr-[16px] text-text-500 font-semibold text-start cursor-pointer w-full flex gap-2 items-center;
}

.menu-item:hover {
  @apply bg-surface-primary4;
}

.menu-item.active {
  @apply text-palette-primary800 bg-surface-primary4;
}

.menu-header:hover {
  @apply bg-surface-primary4;
}

.sidebar-submenu-button-expand-collapse .sidebar-submenu-button-icon {
  @apply to-icon-disable hover:text-palette-primary800;
}

.menu-header-title {
  @apply pt-[13px] pb-[13px] pl-[16px] text-sm uppercase text-gray-600 font-semibold;
}

.menu-header-arrow {
  @apply ml-1 mt-[12px] text-icon-default;
}
