.modal-overlay {
    @apply grid place-items-center bg-background-scrim z-modal;
}

.modal-paper {
    @apply rounded-2xl shadow-modal bg-background-white overflow-hidden;
    max-height: calc(100vh - var(--modal-space-y));
    max-width: calc(100vw - var(--modal-space-x));
}

.modal-paper-sm {
    @apply w-[376px];
}

.modal-paper-md {
    @apply w-[640px];
}

.modal-paper-lg {
    @apply w-[1024px];
}

.modal-paper-xl {
    @apply w-[1384px];
}

.modal-header {
    @apply flex justify-between items-center p-6;
}

.modal-body {
    @apply flex flex-col p-6 scroll-bar;
    max-height: calc(100vh - 96px - 74px - var(--modal-space-y));
    max-width: calc(100vw - var(--modal-space-x));
    /* 96px: modal footer height */
    /* 72px: modal header height */
}

.modal-footer {
    @apply flex flex-row justify-end items-center p-6;
}