.notification {
    @apply shadow-modal p-6 rounded-lg w-[440px];
}

.notification--header {
    @apply flex flex-row items-center;
}

.notification--header--title {
    @apply ml-2 flex-1;
}

.notification--header--close-btn {
    @apply ml-2;
}

.notification--description {
    @apply mt-1 ml-8;
}

.notification--action {
    @apply mt-4 flex justify-end items-center;
}