.otp-input {
    @apply w-full flex flex-row justify-between;
}

.otp-input__digit {
    -moz-appearance: textfield;

    @apply transition w-[52px] h-[52px] rounded-lg border border-lineBorder-borderDefault;
    @apply text-text-700 h5 text-center;
    @apply focus:border-lineBorder-primary;
    @apply placeholder:text-text-300 placeholder:h5;
}

.otp-input__digit::-webkit-outer-spin-button,
.otp-input__digit::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}