.progress-bar {
    @apply flex items-center w-full;
}

.progress-bar__wrapper {
    @apply flex-1;
}

.progress-bar__backline {
    @apply bg-lineBorder-dividerLine rounded-full overflow-hidden align-middle;
}

.progress-bar__progress {
    @apply transition rounded-full h-1;
}

.progress-bar__progress.progress--error {
    @apply bg-lineBorder-error;
}

.progress-bar__progress.progress--success {
    @apply bg-lineBorder-success;
}

.progress-bar__progress.progress--primary {
    @apply bg-lineBorder-primary;
}

.progress-bar__info {
    @apply ml-2 caption2;
}

.progress-circle {
    @apply w-20 h-20 relative;;
}

.progress-circle__canvas {
    @apply w-full h-full -rotate-90;
}

.progress-circle__background {
    @apply stroke-lineBorder-dividerLine;
}


.progress-circle__progress.progress--error {
    @apply stroke-lineBorder-error;
}

.progress-circle__progress.progress--success {
    @apply stroke-lineBorder-success;
}

.progress-circle__progress.progress--primary {
    @apply stroke-lineBorder-primary;
}

.progress-circle__info {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center subtitle1;
}