.radio {
    @apply inline-flex items-center cursor-pointer space-x-2;
}

.radio-icon>input {
    @apply sr-only;
}

.radio-icon {
    @apply text-icon-default transition;
}


.radio-hovered>.radio-icon {
    @apply text-icon-hover;
}

.radio-checked>.radio-icon {
    @apply text-primary;
}

.radio-read-only>.radio-icon > .icon > svg{
    @apply fill-surface-disable;
}


.radio-checked.radio-read-only>.radio-icon{
    @apply text-palette-primary300;
}


.radio-disabled>.radio-icon {
    @apply text-icon-disable;
}

.radio-disabled,
.radio-read-only>.radio-label {
    @apply text-text-disable;
}

.radio-hovered>.radio-label {
    @apply text-text-700;
}