.schedules {
  @apply overflow-auto;
}

.schedules table {
  @apply border-none border-separate border-spacing-0 m-0 table-fixed w-full;
}

.schedules__week {
}

.schedules__week-cell {
  @apply p-0 border-0;
}

.schedules__header-row {
  @apply sticky top-0 z-10;
}

.schedules__header-indent {
  @apply w-[120px] text-center py-4 bg-surface-white;
  @apply border-t border-b border-lineBorder-borderDefault;
}

.schedules__header-head-cell {
  @apply w-full h-0 m-0 p-0 relative;
}

.schedules__header-cell {
  @apply text-center py-4;
  @apply border-r border-t border-b first:border-l border-lineBorder-borderDefault;
}

.schedules__time-cell {
  @apply h-[60px] text-center;
}

.schedules__content-cell {
  @apply h-[60px];
  @apply border-r border-b first:border-l border-lineBorder-borderDefault hover:bg-surface-primary10 cursor-pointer;
}

.schedules__content-icon {
  @apply hidden;
}

.schedules__content-cell:hover .schedules__content-icon {
  @apply flex items-center justify-center;
}

.schedules_content-cell_disabled {
  @apply !pointer-events-none;
}

.schedules__event-item {
  @apply absolute left-[1px] right-[1px];
  @apply px-2.5 py-3;
  @apply bg-surface-primary4 hover:bg-surface-primary10 text-primary cursor-pointer;
  box-shadow: 0px 17px 48px rgba(0, 35, 149, 0.04), 0px 5.125px 14.4706px rgba(0, 35, 149, 0.02),
    0px 2.12866px 6.01034px rgba(0, 35, 149, 0.02), 0px 0.769896px 2.17382px rgba(0, 35, 149, 0.01);
}

.schedules__event-list {
  box-shadow: 0 4px 15px 0 rgba(0, 35, 149, 0.04);
  @apply bg-white rounded-2xl p-6 mr-1 border border-lineBorder-borderDefault outline-none;
}

.schedules__item-badge {
  @apply absolute -top-3 -right-3 h-6 min-w-[24px] w-auto rounded-full bg-surface-primary hover:bg-palette-primary1000 border-2 border-white text-white flex items-center justify-center z-[1] px-1.5 cursor-pointer;
}
