.select-base-container {
    @apply flex flex-row items-center justify-between;
}

.select-base-container-w-full {
    @apply w-full;
}

.select-base-input {
    @apply w-full border-none focus:ring-0 outline-none focus:outline-none;
    @apply text-text-700 text-body;
    @apply bg-transparent;
}

.select-base-input-disabled {
    pointer-events: none;
}