/* Side bar + Menu */
.side-bar-wrapper {
  @apply flex flex-row text-sm;
}

/* Auto layout */
.side-bar {
  @apply flex flex-col items-center w-20 min-w-[5rem] bg-white p-3;
  box-shadow: 2px 2px 4px rgba(51, 103, 214, 0.04);
}

.side-bar > .side-bar-item {
  @apply p-[14px] cursor-pointer rounded-lg;
}

.side-bar-item.active {
  @apply bg-surface-primary4; 
}

.side-bar-item:hover {
  @apply bg-surface-disable;
}

.sidebar-with-submenu {
  @apply transition;
}

.sidebar-without-submenu {
  @apply overflow-hidden min-w-[0%] transition;
}

.sidebar-submenu {
  @apply w-full min-w-[12px] flex flex-col;
}

.sidebar-submenu-title {
  @apply font-bold mt-[23px] mr-[16px] mb-[25px] ml-[16px] text-lg;
}

.sidebar-submenu-button-collapse {
  @apply relative flex mr-4 ml-[-14px] mt-[62px];
}

.sidebar-submenu-button-expand {
  @apply relative flex mt-[62px];
}

.side-bar-tab {
  @apply flex min-w-[250px] justify-start;
}

.sidebar-submenu-button-icon {
  @apply absolute cursor-pointer icon-color-default hover:text-primary z-[1];
}
