.slider {
    @apply relative;
    @apply h-[14px] py-1;
}

.slider__handle {
    @apply transition ease-out;
    @apply absolute top-0 -translate-x-1/2;
    @apply cursor-pointer w-3.5 h-3.5 rounded-full bg-surface-white border-2 border-palette-primary500;
    @apply hover:border-palette-primary800;
}

.slider__handle--focused, .slider__handle:focus {
    @apply outline-none;
    box-shadow: 0px 0px 0px 4px rgba(5, 113, 250, 0.2);
}

.slider__rail {
    @apply absolute top-[5px] w-full h-1 bg-lineBorder-dividerLine rounded-full;
}

.slider__track {
    @apply absolute top-[5px] w-full h-1 bg-palette-primary500 rounded-full;
}

.slider__step {
    @apply absolute cursor-pointer -translate-x-1/2 top-[3px] w-2 h-2 rounded-full border-2 border-icon-disable bg-surface-white;
}

.slider__step--active {
    @apply border-palette-primary300;
}

.slider__mark {
   @apply absolute cursor-pointer top-4 -translate-x-1/2;
}