.status {
    @apply rounded-md;
    @apply inline-flex items-center justify-center;
    @apply w-fit;
}

.status > .icon {
    @apply ml-1;
}

.status-success {
    @apply text-text-success bg-surface-success border-lineBorder-success;
}

.status-warning {
    @apply text-text-warning bg-surface-warning border-lineBorder-warning;
}

.status-error {
    @apply text-text-error bg-surface-error border-lineBorder-error;
}

.status-done {
    @apply text-text-information bg-surface-information border-lineBorder-information;
}

.status-canceled {
    @apply text-text-disable bg-surface-disable border-lineBorder-borderHover;
}

.status-primary {
    @apply text-primary bg-surface-primary4 border-lineBorder-primary;
}


.status-sm {
    @apply px-2 py-1 h-6;
    @apply caption1;
}

.status-md {
    @apply px-3 py-2 h-8;
    @apply caption1;
}

.status-lg {
    @apply px-4 py-3 h-10;
    @apply subtitle1;
}

.status-stroke {
    @apply border;
}

.status-none-stroke {}
