.vertical-step-section {
  @apply flex flex-row gap-4 items-start;
}

.vertical-step-icon-wrapper {
  @apply flex flex-col w-8 items-center justify-center;
}

.vertical-step-icon {
  @apply min-w-[30px] min-h-[30px] rounded-full border border-solid flex items-center justify-center;
}

.vertical-step-line {
  @apply mt-1 mb-1 h-8 w-0 border-lineBorder-borderDefault border-[0.5px];
}

.vertical-item-information {
  @apply flex flex-col;
}

.vertical-item-top-info {
  @apply font-semibold;
}
