.tabs {
  @apply flex flex-row gap-2 w-auto items-center text-center p-2;
}

.tab-item {
  @apply flex flex-row p-1 gap-1 items-center cursor-pointer;
}

.tab-item:hover .tab-item-left-icon {
  @apply text-palette-primary800;
}

.tab-item:hover .tab-title {
  @apply text-palette-primary800;
}

.tab-item:hover .tab-item-left-icon {
  @apply text-palette-primary800;
}

.tab-item:hover .tab-badge {
  @apply text-white;
}

.tab-item-left-icon {
  @apply icon-color-default;
}
.tab-item-right-icon {
  @apply icon-color-default;
}
.tab-title {
  @apply text-text-500 font-semibold;
}
