.text-area {
    @apply w-full;
}

.text-area > textarea {
    @apply w-full px-4 py-3  rounded-lg transition;
    @apply border border-lineBorder-borderDefault;
    @apply hover:border-lineBorder-borderHover;
    @apply text-text-700 text-body;
    @apply bg-transparent;
}

.text-area--error > textarea {
    @apply border-lineBorder-error hover:border-lineBorder-error focus:border-lineBorder-error focus:outline-lineBorder-error;
}

.text-area--warning > textarea {
    @apply border-lineBorder-warning hover:border-lineBorder-warning focus:border-lineBorder-warning focus:outline-lineBorder-warning;
}

.text-area--success > textarea {
    @apply border-lineBorder-success hover:border-lineBorder-success focus:border-lineBorder-success focus:outline-lineBorder-success;
}

.text-area--readonly > textarea {
    @apply text-text-700 bg-surface-disable;
}

.text-area--disabled > textarea {
    @apply text-text-300 bg-surface-disable hover:border-lineBorder-borderDefault;
}
