.toggle {
    @apply inline-flex items-center cursor-pointer space-x-2;
}

.toggle-slider {
    @apply relative;
}

.toggle-slider>input {
    @apply sr-only;
}

.toggle-slider-wrapper {
    @apply block w-10 h-6 border-[1.5px] border-lineBorder-borderDefault rounded-full transition;
}

.toggle-slider-dot {
    @apply absolute left-3 top-3 -translate-x-1/2 -translate-y-1/2 transition;
    @apply w-2.5 h-2.5 bg-icon-default rounded-full;
}

.toggle-hovered>.toggle-slider>.toggle-slider-wrapper {
    @apply border-icon-hover;
}

.toggle-hovered>.toggle-slider>.toggle-slider-dot {
    @apply bg-icon-hover;
}

.toggle-read-only>.toggle-slider>.toggle-slider-wrapper {
    @apply bg-surface-disable;
}


.toggle-checked>.toggle-slider>.toggle-slider-wrapper {
    @apply bg-primary border-none;
}

.toggle-checked>.toggle-slider>.toggle-slider-dot {
    @apply bg-surface-white translate-x-3;
}

.toggle-checked.toggle-read-only>.toggle-slider>.toggle-slider-wrapper {
    @apply bg-palette-primary300 border-none;
}

.toggle-checked.toggle-read-only>.toggle-slider>.toggle-slider-dot {
    @apply bg-surface-white;
}



.toggle-disabled>.toggle-slider>.toggle-slider-wrapper {
    @apply bg-surface-disable border-icon-disable;
}

.toggle-disabled>.toggle-slider>.toggle-slider-dot {
    @apply bg-icon-disable;
}

.toggle-disabled,
.toggle-read-only>.toggle-label {
    @apply text-text-disable;
}

.toggle-hovered>.toggle-label {
    @apply text-text-700;
}