.toggle-bar {
    @apply p-1 h-12 flex justify-between items-center gap-1;
    @apply rounded-lg border border-lineBorder-dividerLine;
}

.toggle-bar__item {
    @apply cursor-pointer;
    @apply inline-flex items-center justify-center;
    @apply rounded w-full h-full text-center;
}

.toggle-bar__item--default {
    @apply text-text-500;
}

.toggle-bar__item--active {
    @apply bg-surface-primary10 text-primary subtitle1;
}