.tooltip {
    background: var(--color-bg-surface-grey);
    @apply z-tooltip;
    @apply transition ease-in rounded-md px-3 py-2 text-text-100;
}

.tooltip--arrow {
    background: var(--color-bg-surface-grey);
    @apply z-tooltip; 
    @apply absolute w-2 h-2 rotate-45 rounded-sm;
}