.transfer-left-side {
    box-shadow: 0px 17px 48px rgba(0, 35, 149, 0.04), 0px 5.125px 14.4706px rgba(0, 35, 149, 0.02), 0px 2.12866px 6.01034px rgba(0, 35, 149, 0.02), 0px 0.769896px 2.17382px rgba(0, 35, 149, 0.01);
    @apply p-6 border border-solid bg-white min-w-[380px] rounded-sm
}

.transfer-right-side {
    box-shadow: 0px 17px 48px rgba(0, 35, 149, 0.04), 0px 5.125px 14.4706px rgba(0, 35, 149, 0.02), 0px 2.12866px 6.01034px rgba(0, 35, 149, 0.02), 0px 0.769896px 2.17382px rgba(0, 35, 149, 0.01);
    @apply p-6 border border-solid bg-white min-w-[380px] rounded-sm
}

.transfer-list {
    @apply flex flex-row h-auto
}

.transfer-buttons {
    @apply flex items-center flex-col justify-center mr-6 ml-6 gap-4
}

.transfer-btn-left {
    @apply bg-button-disable w-8 h-8
}

.transfer-btn-right {
    @apply bg-button-disable w-8 h-8
}

.transfer-checkBox-item-header {
    @apply flex flex-row gap-2 items-center
}

.transfer-checkBox-item-title {
    @apply text-lg
}

.transfer-checkBox-item-title-selectedCount {
    @apply text-text-400 text-xs
}

.transfer-checkBox-item-search {
    @apply mt-6 ml-[-16px]
}

.transfer-item-checkbox-wrapper {
    @apply gap-7 flex flex-col
}

.transfer-treeView-item-header {
    @apply flex flex-row gap-2 items-center
}

.transfer-treeView-item-title {
    @apply text-lg
}

.transfer-treeView-item-title-selectedCount {
    @apply text-text-400 text-xs
}

.transfer-treeView-item {
    @apply mt-[-10px] ml-[-15px]
}