.tree-view {
  --spacing: 19px;
  @apply ml-4;
}

.tree-view li {
  display: block;
  position: relative;
  @apply pt-0;
}

.tree-view ul {
  padding-left: 0;
}

.tree-view ul li ul {
  margin-left: 12px;
}

.tree-view li ul li {
  padding-left: calc(var(--spacing));
  @apply border-l border-l-lineBorder-borderDefault z-10;
}

.tree-view li ul li:last-child {
  border-color: transparent;
}

.tree-view li ul li::before {
  content: '';
  left: -1px;
  z-index: -1;
  @apply absolute block rounded-bl-md;
  @apply border-l border-b border-l-lineBorder-borderDefault border-b-lineBorder-borderDefault -top-2 h-[30px] w-5;
}

.tree-view__content {
  @apply flex flex-row items-center;
}

.tree-view summary {
  @apply w-fit -ml-2 p-2 flex flex-row items-center hover:bg-surface-primary4;
}

.tree-view summary::marker,
.tree-view summary::-webkit-details-marker {
  @apply hidden;
}

.tree-view summary:focus {
  @apply outline-none;
}
