.drag-upload {
  @apply w-full h-[360px] flex flex-wrap rounded border-lineBorder-primary btn-color-primary cursor-pointer hover:bg-surface-primary4 hover:opacity-100 place-content-center flex-col items-center text-center relative z-10 bg-white;
}
.drag-mainText {
  @apply text-sm text-text-700 mb-2;
}
.drag-subText {
  @apply text-xs text-text-400;
}
.progress-bar-upload-vertical {
  @apply flex h-1 w-[262px] items-center flex-row gap-2;
}
.progress-bar-upload-horizontal {
  @apply h-[100px] w-[100px] bg-surface-disable p-2 flex flex-col items-center gap-2 rounded-md;
}
.upload-error-vertical-function {
  @apply w-auto flex flex-1 gap-1 brightness-100 cursor-pointer justify-end;
}

.upload-error-horizontal-function {
  @apply absolute top-[35px] right-[22px] text-white z-10;
}
.upload-error-horizontal-wrapper {
  @apply h-[100px] w-[100px] border border-solid rounded-lg border-lineBorder-error p-2 flex flex-col items-center gap-2 justify-center relative;
}
.upload-error-horizontal {
  @apply flex gap-1 brightness-100 cursor-pointer;
}
.upload-error-vertical-wrapper {
  @apply flex flex-row min-w-[256px] max-w-[256px] hover:bg-surface-primary4 items-center;
}
.upload-error-vertical-info {
  @apply w-52 text-sm overflow-hidden text-ellipsis text-text-error;
}
.upload-preview-horizontal-function {
  @apply absolute top-[35px] right-[10px] text-white z-10;
}
.upload-preview-keepHover {
  @apply flex place-items-center place-content-center h-[100px] w-[100px] bg-surface-disable rounded-md;
}
.upload-preview-vertical-function {
  @apply w-auto gap-1 brightness-100 cursor-pointer justify-end;
}
.upload-preview-vertical-wrapper {
  @apply flex flex-row min-w-[256px] max-w-[256px] hover:bg-surface-primary4 items-center;
}
.upload-preview-vertical-text {
  @apply w-52 text-sm overflow-hidden text-ellipsis;
}
