.h1 {
  @apply text-h1 font-bold;
}

.h2 {
  @apply text-h2 font-bold;
}

.h3 {
  @apply text-h3 font-semibold;
}

.h4 {
  @apply text-h4 font-bold;
}

.h5 {
  @apply text-h5 font-semibold;
}

.subheading {
  @apply text-subHeading font-semibold uppercase;
}

.subtitle1 {
  @apply text-subtitle1 font-semibold;
}

.subtitle2 {
  @apply text-subtitle2 font-semibold uppercase;
}

.body {
  @apply text-body font-medium;
}

.caption1 {
  @apply text-caption1 font-semibold;
}

.caption2 {
  @apply text-caption2 font-medium;
}

.vertical-divider {
  @apply border border-lineBorder-borderDefault h-full m-1;
}

.paper {
  @apply border border-lineBorder-dividerLine shadow-dropdown rounded-lg p-2 bg-surface-white;
}

/* SCROLLBAR */
.scroll-bar {
  @apply overflow-y-auto overflow-x-auto overflow-hidden;
}

/* width */
.scroll-bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
  background: #f8f8fa;
  border-radius: 20px;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 20px;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.jf-scroll {
  @apply overflow-hidden overflow-x-auto overflow-y-auto whitespace-nowrap;
}

.jf-scroll::-webkit-scrollbar {
  @apply h-1.5 w-1.5 cursor-pointer rounded-xl;
}

.jf-scroll::-webkit-scrollbar-track {
  @apply cursor-pointer rounded-xl bg-[#F8F8FA];
}

.jf-scroll::-webkit-scrollbar-thumb {
  @apply cursor-pointer rounded-xl bg-[#E4E4E7];
}

.line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.centered-absolute-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centered-absolute-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.centered-absolute-y {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}
